<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Groups</title>
  </head>
  <body>
    <h1><%=@group.name%></h1>
    <% unless @group.users_joined.include?(current_user) %>
    <form action="/members/<%=@group.id%>" method="post">
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
      <input type='submit' value='Join Group'>
    </form>
    <% else %>
    <form action="/members/<%=@group.id%>" method="post">
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
      <input type='hidden' name='_method' value='delete'>
      <input type='submit' value='Leave Group'>
    </form>
    <% end %>
    <p><%=@group.description%></p>
    <h3>Created By:
      <% if @group.user_id == current_user.id %>
      YOU
      <% else %>
      <%=@user.first_name%> <%=@user.last_name%>
      <% end %>
    </h3>
    <h3>Members:</h3>
    <% @group.users_joined.each do |member| %>
      <p><%=member.first_name%> <%=member.last_name%></p>
    <% end %>
    </body>
</html>
